/*

Author: Keston Charles
Description: Widget styles for Rogers Front-End development test
Chosen Widgets: Weather, Image Display/Slider
Code Version: 1.12

*/

/* - - - FONTS - - - */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,300,400,600,700,800);


/* - - - RESET GLOBAL ELEMENTS - - - */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block}
body {
	line-height: 1; }
ol, ul {
	list-style: none; }
blockquote, q {
	quotes: none; }
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none; }
table {
	border-collapse: collapse;
	border-spacing: 0}

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -webkit-font-smoothing: antialiased; }

/* - - - MAIN STYLES - - - */

body {
    font-family: 'Open Sans', sans-serif;
    font-size:13px;
    font-weight: 300;
    color:#666;
    -webkit-font-smoothing: subpixel-antialiased;
    position:relative;
    background: rgb(0,157,158);
    background-image: url(../images/backgrounds/moderntouch-bg.jpg);
}

::-moz-selection {
	background: #3bbec0;
	color: #fff;
	text-shadow: none;
}
::selection {
	background: #3bbec0;
	color: #fff;
	text-shadow: none;
}

a{color: #3f4b56;}

a:hover,
a:focus {
	color: #3bbec0;
	text-decoration: none;
}
a:active{background-color: transparent;}

input, textarea, input[type="submit"]:focus, div {
    outline: 0 none;
    font-family: 'Open Sans', sans-serif;
}
button, input, select, textarea {vertical-align: top; margin: 0;}

.alpha{margin-left:0 !important;}
.omega{margin-right:0 !important;}

/* - - - FIX FLOATS - - - */

html body * span.clear,
html body * div.clear,
html body * li.clear,
html body * dd.clear {
	background: none;
	border: 0;
	clear: both;
	display: block;
	float: none;
	font-size: 0;
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

.clearfix {
	*zoom: 1;
}

.clearfix:before,
.clearfix:after {
	display: table;
	line-height: 0;
	content: "";
}
.clearfix:after {
	clear: both;
}

/* - - - OTHER FONTS - - - */

h1, h2, h3, h4, h5, h6 {
    font-style: normal;
	color: white;
	line-height:1.2em;
	margin-bottom:.8em;
}

h1{font-size:29px}
h2{font-size:25px}
h3{font-size:23px}
h4{font-size:19px}
h5{font-size:17px}
h6{font-size:15px}

em{font-style: italic;}
strong{font-weight: 700;}
small{font-size: 85%;}

i{
	position: relative;
	top: 0;
	left: 0;
	display: inline-block;
	overflow: hidden;
	text-decoration: none;
	font-style: normal;
	background-repeat: no-repeat;
	margin-right: 10px;
}
p{
    line-height: 19px;
	margin-bottom: 16px;
}
.margin-0{margin-bottom:0 !important;}
.margin-10{margin-bottom:10px !important;}
.margin-20{margin-bottom:20px !important;}
.margin-30{margin-bottom:30px !important;}
.margin-40{margin-bottom:40px !important;}
.margin-50{margin-bottom:50px !important;}

/* - - - BUTTONS - - - */

.buttons-wrap{margin-bottom: 60px;}
.buttons{margin-bottom:10px;}
.buttons .btn{margin-right:2px; margin-bottom:10px;}

.btn:hover, .btn:focus {
    -webkit-transition: background-position .0s linear;
    -moz-transition: background-position .0s linear;
    -o-transition: background-position .0s linear;
    transition: background-position .0s linear;
}
.btn:active, .btn.active {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.btn:hover, .btn:focus, .btn:active, .btn.active, .btn.disabled, .btn[disabled] {
    background-color: transparent;
    color:#fff;
}
.btn{
    display:inline-block;
    padding: 0;
    border: 0 none;
    border-radius: 0;
}
.btn span,
.btn input{
    display: block;
    height: 45px;
    line-height: 45px;
    padding: 0 16px;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    white-space: nowrap;
    text-shadow:none;
    background-color: #3bbec0;
    border: 0 none;
    background-image: url(../images/icons/button-icons.png);
    background-repeat: no-repeat;
    background-position: -300px -300px;
}
.btn-icon-left span,
.btn-icon-left input{
    padding-left: 48px;
    padding-right: 20px;
    background-position: left top;
}
.btn-icon-left.btn-arrow-left span, .btn-icon-left.btn-arrow-left input{background-position: left -45px;}
.btn-icon-left.btn-arrow-up span, .btn-icon-left.btn-arrow-up input{background-position: left -90px;}
.btn-icon-left.btn-arrow-down span, .btn-icon-left.btn-arrow-down input{background-position: left -135px;}

.btn-icon-right span,
.btn-icon-right input{
    padding-right: 48px;
    padding-left: 20px;
    background-position: right top;
}
.btn-icon-right.btn-arrow-left span, .btn-icon-right.btn-arrow-left input{background-position: right -45px;}
.btn-icon-right.btn-arrow-up span, .btn-icon-right.btn-arrow-up input{background-position: right -90px;}
.btn-icon-right.btn-arrow-down span, .btn-icon-right.btn-arrow-down input{background-position: right -135px;}

.btn-brown span, .btn-brown input{background-color: #a48b60;}

/* - - - WEATHER WIDGET - - - */

/* - - - WEATHER WIDGET: SELECTED / HIGHLIGHT - - - */
.weather-highlighted{padding: 21px 27px 22px;}

.weather-highlighted .icon-weather{
    float: left;
    width: 76px;
    height: 57px;
    background: url(../images/icons/weather-main.png) no-repeat;
    margin-top: 10px;
}
.weather-highlighted .inner{
    float: right;
    width: 75px;
}
.weather-highlighted strong,
.weather-highlighted span{
    display: block;
    font-size: 12px;
    font-weight: 300;
    color: #fff;
    line-height: 1.2em;
}
.weather-highlighted strong{font-size: 46px;}

.weather-day{display: none;}
.weather-day.active{display: block;}

/* - - - LOCATION SEARCH - - - */
.weather-location{
    padding: 14px 17px 16px 21px;
    border-top: 1px solid #f2fbfb;
    border-bottom: 1px solid #f2fbfb;
    border-top: 1px solid rgba(242,251,251,0.2);
    border-bottom: 1px solid rgba(242,251,251,0.2);
}
.weather-query-form{
    float: right;
    width: 100px;
    position: relative;
}
input.weather-search-field{
    border:0 none;
    background: #319ba1;
    background: rgba(96, 96, 96, 0.4);
    padding:0 5px 0 19px;
    font-size:12px;
    font-weight: 300;
    font-style: italic;
    color: #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
    height:19px;
}
.ie8 input.weather-search-field{line-height:17px;}
input.weather-search-field:focus{border: 0 none;}

input.weather-search-submit{
    width: 19px;
    height: 19px;
    position: absolute;
    top: 0;
    left: 0;
    background:url(../images/icons/search.png) center center no-repeat;
}
.weather-location strong{
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    line-height: 19px;
    text-transform: uppercase;
}

/* - - - WEATHER FORECAST - - - */

.weather-forecast li{
    float: left;
    width: 14.2857%;
    border-left: 1px solid #f2fbfb;
    border-left: 1px solid rgba(242,251,251,0.2);
}
.weather-forecast li a{
    display: block;
    padding: 15px 3px;
    font-size: 12px;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}
.weather-forecast li a:hover,
.weather-forecast li a.active{
    background: #60c9cb;
    background: rgba(242,251,251,0.2);
}
.weather-forecast li:first-child a{border-left: 0 none;}

.weather-forecast strong,
.weather-forecast span{
    display: block;
    text-align: center;
    margin-bottom: 5px;
}
.weather-forecast .icon-weather{
    width: 24px;
    height: 24px;
    margin: 0;
    background: url(../images/icons/weather-icons.png) 0 0 no-repeat;
}
.weather-forecast .icon-weather-2{background-position: 0 -24px;}
.weather-forecast .icon-weather-3{background-position: 0 -48px;}
.weather-forecast .icon-weather-4{background-position: 0 -72px;}
.weather-forecast .icon-weather-5{background-position: 0 -96px;}

/* - - - SOCIAL MEDIA PROFILE - - - */

.widget-profile .inner{
    padding: 34px 25px 22px;
    text-align: center;
}
.widget-profile h5{
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    color: #56462a;
    margin-bottom: 6px;
}
.widget-profile .subtitle,
.widget-profile .followers{
    font-size: 12px;
    font-weight: 400;
    color: #836d48;
}
.widget-profile .subtitle{
    display: block;
    margin-bottom: 23px;
}
.widget-profile .profile{
    width: 100px;
    height: 100px;
    margin: 0 auto 22px;
    border: 2px solid #a1875c;
    padding: 3px;
    border-radius: 50%;
}
.widget-profile .profile img{
    display: block !important;
    width: 90px;
    height: 90px;
    border-radius: 50%;
}
.followers{margin-bottom: 43px;}

.btn-follow{
    display: block;
}
.btn-follow span{
    font-size: 13px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    text-shadow:0 -1px 0 rgba(0,0,0,0.24);
}
.btn-follow i{
    width: 20px;
    height: 20px;
    border: 2px solid #fff;
    border-radius: 50%;
    vertical-align: text-top;
}
.btn-follow i:before,
.btn-follow i:after{
    content: '';
    display: block;
    position: absolute;
    top: 7px;
    left: 3px;
    width: 10px;
    height: 2px;
    background: #fff;
}
.btn-follow i:after{
    top: 3px;
    left: 7px;
    width: 2px;
    height: 10px;
}

/* - - - PAGE AND REGIONS - - - */

header{padding: 100px 0;}
.content, .sidebar{padding: 50px 0;}
.region, a.region {position:relative; background: #fff; margin-bottom:30px;}

.region-blue, a.region-blue{background: #67b0d1;}
.region-yellow, a.region-yellow{background: #ebc85e;}
.region-teal, a.region-teal{background: #3bbec0;}

/* - - - SLIDE SHOW - - - */

.slideshow-inner > .item {
    height: 234px;
    overflow:hidden;
}
.widget-gallery .slideshow-inner > .item {height: 293px;}

.slideshow-inner > .item > img,
.slideshow-inner > .item > a > img {
    width: auto;
    max-width: none;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.slideshow-controls{
    background: #67b0d1;
    position: relative;
}

.slideshow-control {
    position: absolute;
    top: 50%;
    left: 24px;
    width: 16px;
    height: 16px;
    opacity: 1;
    margin-top:-8px;
}
.slideshow-control.left,
.slideshow-control.right{
    background-image:url(../images/icons/button-icons.png);
    background-position: -16px -60px;
    background-color: transparent;
    background-repeat: no-repeat;
    filter:none;
}
.slideshow-control.right {
    right: 24px;
    left: auto;
    background-position: -16px -15px;
}

.slideshow-indicators {
    position: relative;
    top: 0;
    left:0;
    right: auto;
    bottom: auto;
    width: auto;
    margin: 0 60px;
    padding:0;
    border-left:1px solid #62cacc;
    border-right:1px solid #62cacc;
    padding: 23px 0 25px;
}
.slideshow-indicators li {
    border: 0 none;
    width: 15px;
    height: 6px;
    margin: 0;
    background: #fff;
    cursor: pointer;
    border-radius: 0;
    opacity: .5;
    -webkit-transform: skew(-20deg);
    -moz-transform: skew(-20deg);
    -o-transform: skew(-20deg);
    -ms-transform: skew(-20deg);
}
.slideshow-indicators li.active {
    width: 15px;
    height: 6px;
    opacity: 1;
}
.ie8 .slideshow-indicators li.active {background: #B8B8B8;}


/* - - - FORMS - - - */

input[type="text"] { width: 100%; }